@import "reset.css";
@import "iconfont.css";
@import "control.css";
$color1: #fff;
$color2-1: #3498dB;//蓝
$color2-2: #2c81ba;//蓝active
$color2-3: #03a2df;//蓝logo
$color2-4: #24557b;//蓝font
$color3-1: #eaeaea;//灰
$color3-2: #e0e0e0;//深灰
body {
	position: absolute;
	box-sizing: border-box;
	padding: 75px 0 5px 160px;
	width: 100%;
	height: 100%;
	color: #222222;
	background-color: $color3-1;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	.title {
		display: inline-block;
		float: left;
		width: 120px;
		height: 100%;
		color: $color2-3;
		background-color: $color1;
		i {
			position: absolute;
			top: 15px;
			left: 4px;
			font-size: 32px;
		}
		.text {
			position: absolute;
			top: 20px;
			left: 31px;
			display: block;
			font-weight: bold;
			text-align: center;
			span {
				display: block;
				margin-bottom: 4px;
			}
			span + span {
				font-size: 12px;
				margin-bottom: 0;
			}
		}
	}
	.r-btn {
		cursor: pointer;
		position: absolute;
		top: 18px;
		right: 1em;
		font-size: 32px;
		color: $color1;
	}
}
.top-nav {
	display: inline-block;
	float: left;
	width: calc(100% - 120px);
	height: 100%;
	color: $color1;
	text-align: center;
	background-color: $color2-1;
	li {
		cursor: pointer;
		display: inline-block;
		float: left;
		width: 200px;
		height: 100%;
		font-size: 12px;
		border-right: 1px solid $color3-1;
		i {
			display: block;
			margin-top: 11px;
			margin-bottom: 5px;
			font-size: 30px;
		}
		span {
			display: block;
		}
	}
	.active {
		background-color: $color2-2;
	}
}
.aside-nav {
	// overflow-y :auto;
	position: absolute;
	top: 75px;
	left: 0;
	width: 150px;
	height: calc(100% - 75px);
	text-align: center;
	background-color: $color1;
	li {
		cursor: pointer;
		display: block;
		box-sizing: border-box;
		padding: 13px;
		width: 100%;
		height: 40px;
		font-size: 12px;
		border-bottom: 1px solid $color3-1;
	}
	.active {
		color: $color1;
		background-color: $color2-2;
	}
}
.content {
	position: relative;
	box-sizing: border-box;
	padding: 15px;
	width: 100%;
	height: 100%;
	border-radius: 5px 0 0 5px;
	background-color: $color1;
}

//时间闹钟
.time-alarm {
	overflow-y :auto;
	display: inline-block;
	float: left;
	width: 73%;
	height: 100%;
	color: $color2-4;
	text-align: center;
	.real-time-display {
		position: relative;
		height: 65%;
		min-height: 255px;
		.bg {
			// width: 255px;
			height: 100%;
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		.time-text {
			position: absolute;
			top: calc(50% - 35px);
			width: 100%;
			.icon{
				cursor: pointer;
				font-size: 70px;
				letter-spacing: 4px;
			}
		}
	}
	.real-time-title {
		padding: 10px;
		font-size: 1em;
	}
	.real-time-hr {
		border-bottom: 1px solid $color2-2;
	}
	.week-nav {
		padding: 5px 0 15px 0;
		height: 11.5%;
		min-height: 45px;
		li {
			float: left;
			width: 14.2%;
			a {
				cursor: pointer;
				box-sizing: border-box;
				display: inline-block;
				padding-top: 14px;
				width: 45px;
				height: 45px;
				font-size: 1em;
				//text-align: center;
			}
		}
		.active {
			a {
				border: 1px solid $color2-4;
				border-radius: 45px;
			}
		}
	}
}
.alarm-list {
	overflow-y :auto;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 26%;
	height: 100%;
	text-align: center;
	color: $color2-1;
	background-color: $color3-2;
	li {
		position: relative;
		box-sizing: border-box;
		height: 80px;
		border-bottom: 1px solid $color1;
		.title {
			position: absolute;
			top: 15px;
			left: 15px;
		}
		.state {
			position: absolute;
			left: 15px;
			bottom: 15px;
		}
		.time-btn {
			display: inline-block;
			box-sizing: border-box;
			margin: 15px 20px; 
			width: 50px;
			height: 50px;
			padding-top: 17px;
			border: 1px solid $color2-1;
			border-radius: 50px;
		}
		.icon-btn {
			position: absolute;
			top: 28px;
			right: 15px;
		}
	}
}
//btn
.btn {
	outline:none;
	cursor: pointer;
	padding: 10px 3em;
	color: $color1;
	background-color: $color2-2;
	border: 0;
	border-radius: 34px;
}